/* Resets */
body {
    margin: unset;
}

ul {
    list-style-type: none;
    margin: unset;
    padding: unset;
}

/* Layouts */
.box {
    max-width: 1000px;
    height: 650px;
    display: flex;
    text-align: center;
}

/* Components */
.box-header {
    box-shadow: inset 0 0 20px red;
    width: 150px;
    flex-shrink: 0;
}

.box-header-logo {
    box-shadow: inset 0 0 20px red;
    margin-bottom: 10px;
    height: 70px;
}

.box-heder-menu{
    padding: 10px;
}

.box-header-menu li {
    box-shadow: inset 0 0 20px red;
    height: 40px;
}

.box-header-menu li + li {
    margin-top: 10px;
}

.box-contents {
    box-shadow: inset 0 0 20px blue;
    display: grid;
    grid-template-columns: repeat(18, 50px);
    grid-template-rows: repeat(13, 50px);
}

.card {
    box-shadow: inset 0 0 20px dodgerblue;
}

.type_slide {
    grid-row-start: 1;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 19;
}

.type_notice {
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 7;
}

.type_gallery {
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 7;
    grid-column-end: 13;
}

.type_link {
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 13;
    grid-column-end: 19;
}

.box-footer {
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-template-rows: repeat(2, 50px);
}

.box-footer-info {
    box-shadow: inset 0 0 20px blue;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 8;
}

.type_social {
    box-shadow: inset 0 0 20px blue;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 8;
    grid-column-end: 10;
}

.type_site {
    box-shadow: inset 0 0 20px blue;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 8;
    grid-column-end: 10;
}

.box-footer-link {
    box-shadow: inset 0 0 20px blue;
}